*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  width: 100%;
  min-height: 100vh;
  background: #2b2a2a;
  display: flex;
}

img{
  display: block;
  cursor: pointer;
}

.container{
  margin: 50px;
  width: 100%;
  max-width: 840px;
}


.container .selected{
  width: 300px;
  height: 300px;
  margin:  auto 500px ;
  border: 1px solid hsl(30, 100%, 100%);
}


.container .imgContainer{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top:10px ;
}


.container .imgContainer{
  width: 150%;
}